[Desktop Entry]
Name=PyDCViewer
Comment=DokumentenkameraViewer
Exec=/opt/pydcviewer/env/bin/python /opt/pydcviewer/pydcviewer.py
Terminal=false
Type=Application
StartupNotify=true
Icon=/opt/pydcviewer/support/icon.svg
Categories=Graphics;
